# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.log
*.temp
*.bak

# PDF temp files (optional, if you want)
*.pdf

# Test output
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Gradio cache
gradio_cached_examples/

# dotenv environment variables
.env
.env.*